{% extends "base.html.twig" %}

{% block content %}
	<h2>Add products</h2>
{#	{% if errors|length > 0 %}#}
{#	<span class="alert alert-danger d-block">#}
{#		{% for error in errors %}#}
{#			<span class="d-block">#}
{#				<span class="form-error-icon badge badge-danger text-uppercase">Error</span> <span class="form-error-message">#}
{#					{{ error.message }}#}
{#				</span>#}
{#			</span>#}
{#		{% endfor %}#}
{#	</span>#}
{#	{% endif %}#}
	{{ form_errors(form) }}
	<div class="d-flex flex-column justify-content-center w-50 mx-auto mt-2 mb-5" >
		{{ form_start(form, {'method': 'POST', 'action': path('products.save')}) }}
		<div class="form-group">
			<label for="product_Name" class="required">Name</label>
			{{ form_widget(form.Name) }}
		</div>
		<div class="form-group">
			<label for="product_Price" class="required">Price</label>
			{{ form_widget(form.Price, {'money_pattern': 'DH'}) }}
		</div>
		<div class="form-group">
			{{ form_widget(form.TTC, {'checked': 'true'}) }}
		</div>
		<div class="form-group">
			<label for="product_Quantity" class="required">Quantity</label>
			{{ form_widget(form.Quantity) }}
		</div>
		<div class="form-group">
			<label for="product_Category" class="required">Category</label>
			{{ form_widget(form.Category) }}
		</div>
		<div class="form-group">
			<label for="product_Description" class="required">Description</label>
			{{ form_widget(form.Description) }}
		</div>
		{{ form_row(form.imageUrl) }}
		{{ form_row(form.save, { 'label': 'Submit' }) }}
		{{ form_end(form) }}
	</div>
{% endblock %}