{% extends "base.html.twig" %}

{% block content %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    <h2>Products list</h2>
    <div class="m-3">
        <a href="{{ path('products.add') }}" class="btn btn-success"><i class="fas fa-plus"></i> Add product</a>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>image</th>
                <th>Name</th>
                <th>price</th>
                <th>quantity</th>
                <th>Category</th>
                <th>description</th>
                <th>create at</th>
                <th>Add to basket</th>
                <th>Actions</th>
            </tr>
        </thead>

        {% for product in products %}
            <tr>
                <td>{{ product.getId }}</td>
                <td><img width="100" src="{{ product.getImageUrl }} " alt="{{ product.getName }}" > </td>
                <td>{{ product.getName }}</td>
                <td>{{ product.getPrice| price }}</td>
                <td>{{ product.getQuantity }}</td>
                <td>{{ product.getCategory }}</td>
                <td>{{ product.getDescription }}</td>
                <td>{{ product.getCreatedAt|date('Y-m-d') }}</td>
                <td>
                    <form action="{{ path('order.tobasket', {idProduct: product.getId }) }}" method="post">
                        <input type="number" name="commandQuantity" min="1" value="1" style="width: 25%" class="m-1">
                        <button type="submit" class="btn btn-default border border-dark m-1">Add</button>
                    </form>
                </td>
                <td>
                    <a href="{{ path('products.show', {idProduct: product.getId }) }}" class="btn btn-primary"><i class="fas fa-clipboard-list"></i>Details</a>
                    <a href="{{ path('products.edit', {idProduct: product.getId }) }}" class="btn btn-warning"><i class="fas fa-pen"></i>Edit</a>
                    <a href="{{ path('products.delete', {idProduct: product.getId }) }}" class="btn btn-danger"><i class="fas fa-times"></i>Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}